version: '3'
services:
  nginx: 
    container_name: nginx
    build: ./requirements/nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress 
    restart: always 
    networks:
      - boonetwork
    volumes:
      - wp:/var/www/html

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    networks:
      - boonetwork
    env_file:
      - ./.env
    volumes:
      - md:/var/lib/mysql

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    restart: always
    networks:
      - boonetwork
    env_file:
      - ./.env
    volumes:
      - wp:/var/www/html

networks:
  boonetwork:
    name: boonetwork
    driver: bridge

volumes:
  wp:
    name: wp
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/balnahdi/data/wp
      # device: /home/oobn/ft_inception/wp
      # device: /wsl.localhost/Ubuntu/home/oobn/ft_inception/wp
  md:
      name: md
      driver: local
      driver_opts:
        o: bind
        type: none
        device: /home/balnahdi/data/md
        # device: /home/oobn/ft_inception/md
